<html>
  <head>
    <meta charset="utf-8">
    <title>Actlingual</title>
    <meta property=’og:image’ content="https://actlingual.herokuapp.com/images/alternate_color_logo.png"/>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>

    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class = "section purple-gradient" id = "about">
        <div class= "infobox">
          <div class= "golden">“If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart.”
-Nelson Mandela</div>
          </br>
          <div>When an individual does not speak enough English to fully understand the situation in different health and social settings, they aren’t able to fully communicate or make well-informed decisions. MIT ActLingual members bridge this gap by connecting multilingual/multicultural students with opportunities in the MIT/Boston/Cambridge area to use their language skills to aid the lives of people in the communities around MIT.
          </div>
          </br>
          <div>The Actlingual team is currently working on a curriculum for a medical interpreting class to prepare MIT students to address the critical need for medical interpreters in the MIT/Cambridge/Boston area. We are also partnered with the Everett Haitian Community Center and MIT Asian American Initiative to provide aid to multiple service initiatives in the Boston/Cambridge area.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
