<html>
  <head>
    <meta charset="utf-8">
    <title>Actlingual</title>
    <meta property=’og:image’ content="https://actlingual.herokuapp.com/images/alternate_color_logo.png"/>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>

    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="/scripts/committees.js"></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container_committees committee-container">
        <div class="committeenav">
          <div class = "committee-link amic">AMIC</div>
          <div class = "committee-link chedar">CHEDAR</div>
          <div class = "committee-link aaivote">AAI Vote</div>
          <div class = "committee-link acc">ACC</div>
          <div class = "committee-link new">Interested in Starting a Committee?</div>
        </div>
        <div class="committeedata">
          <div class="section green-gradient amic">
            <div class = "committee-title white">
            Actlingual Medical Interpreting Committee (AMIC)
            </div>
            <div class = "infobox_committees">
              <div>
AMIC is working to design a medical interpreting class to prepare MIT students to gain the certification and the experience to volunteer as medical interpreters in various clinical settings in the Boston area.
              </div>
            </div>
          </div>
          <div class="section purple-gradient chedar hide">
            <div class = "committee-title newYellow">
            Community Health, Education, and Resources (CHEDAR)
            </div>
            <div class = "infobox_committees">
              <div>
                Through community health classes, CHEDAR aims to provide health-related information to targeted audiences within the Boston-area population that would benefit from a greater understanding of such issues.
              </div>
              </br>
            </div>
          </div>
          <div class="section green-gradient aaivote hide">
            <div class = "committee-title newPink">
            Asian American Initiative (AAI) Vote
            </div>
            <div class = "infobox_committees">
              <div>
                AAI Vote translated different voting resources (especially the Presidential Platforms) in order to provide information about voting to a broader audience in Fall 2020.
              </div>
            </div>
          </div>
          <div class="section purple-gradient acc hide">
            <div class = "committee-title white">
            Actlingual Committee for Citizenship (ACC) - to be initiated
            </div>
            <div class = "infobox_committees">
              <div>
                ACC provides citizenship assistance to immigrants from a wide range of backgrounds, by creating tutor-student pairings between multilingual MIT students and immigrants looking to take the citizenship interview.
              </div>
            </div>
          </div>
          <div class="section green-gradient new hide">
            <div class = "committee-title newYellow">
            Interested in Starting a Committee?
            </div>
            <div class = "infobox_committees">
              <div>
              ActLingual wants to provide the space for the MIT student community to have conversions about community service initiatives they are interested and bring them to light as ActLingual Committees. If you have an interest in developing an ActLingual Committee, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSeItRPedFuqHRLZhNejzvBxqgS9qVnsJAKiK6r0trUUZwF-rQ/viewform">this form</a> and you will be contacted by one of our exec members to have a conversation. Based on the conversation, we can work together to see what would be required to form a Committee with us.
              </div>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeItRPedFuqHRLZhNejzvBxqgS9qVnsJAKiK6r0trUUZwF-rQ/viewform" width="100%" height="400%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
        </div>
    </div>
  </body>
</html>
