<html>
  <head>
    <meta charset="utf-8">
    <title>Actlingual</title>
    <meta property=’og:image’ content="https://actlingual.herokuapp.com/images/alternate_color_logo.png"/>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>

    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class="section green-gradient" id="intro">
        <div class = "infobox">
          <div>
            <div style="font-size: 2em">Welcome to</div>
            <span class = "title" style="font-size: 3em;"><div><span class="indigo">Act</span><span class="blue">lingual</span></div></span>
          </div>
          <div>
            Through partnerships with local free clinics and hospitals, Medlingual allows multilingual/multicultural students to use their language skills to improve the quality of care for patients in the MIT/Cambridge/Boston area who don't speak English as their first language.
            </br>
            </br>
            Contact us at <a href="mailto:actlingual-exec@mit.edu">actlingual-exec@mit.edu</a> if you have any questions or want to find out more or fill out <a href="https://forms.gle/w27eQKaTsphtFEyE6">this form</a> below!
          </div>
        </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSnPrphi0swIpizrPcPdR5EhL8bxRMdED6JT6MJs4hxcoElg/viewform" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </body>
</html>
