<html>
  <head>
    <meta charset="utf-8">
    <title>Actlingual</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>

    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="/scripts/whoweare.js"></script>

  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class="section green-gradient" id="board">
        <table class = "profiletable">
          <tr>
            <td><div class="profilephoto" id = "omar" src="/images/Omar.jpg"></div></td>
            <td><div class="profilephoto" id = "tam" src="/images/Tam.jpg"></div></td>
            <td><div class="profilephoto" id = "caroline" src="/images/Caroline.jpg"></div></td>
          </tr>
          <tr>
            <td><span class = "profile-title"><div>Omar Santiago Reyes</div><span class="golden">President</span></span></td>
            <td><span class = "profile-title"><div>Tam Nguyen</div><span class="golden">Vice President</span></span></td>
            <td><span class = "profile-title"><div>Caroline Bao</div><span class="golden">Treasurer</span></span></td>
          </tr>
        </table>
        </br>
        <table class="profiletable">
          <tr>
            <td><div class="profilephoto" id = "silvia" src="/images/Silvia.jpg"></div></td>
            <td><div class="profilephoto" id = "wenbo" src="/images/Wenbo.jpg"></div></td>
            <td><div class="profilephoto" id = "sky" src="/images/Sky.jpg"></div></td>
          </tr>
          <tr>
            <td><span class = "profile-title"><div>Silvia Cao</div><span class="golden">Secretary</span></span></td>
            <td><span class = "profile-title"><div>Wenbo Wu</div><span class="golden">Publicity Chair</span></span></td>
            <td><span class = "profile-title"><div>Sky Kim</div><span class="golden">Co-Social Chair</span></span></td>
          </tr>
          <tr>
            <td><div class="profilephoto" id = "tina" src="/images/Tina.jpg"></div></td>
            <td><div class="profilephoto" id = "lulu" src="/images/Lulu.jpg"></div></td>
            <td><div class="profilephoto" id = "victor" src="/images/Victor.jpg"></div></td>
          </tr>
          <tr>
            <td><span class = "profile-title"><div>Tina Chen</div><span class="golden">Co-Social Chair</span></span></td>
            <td><span class = "profile-title"><div>Lulu Tian</div><span class="golden">Webmaster</span></span></td>
            <td><span class = "profile-title"><div>Victor Damptey</div><span class="golden">AMIC Co-Lead</span></span></td>
          </tr>
          <tr>
            <td><div class="profilephoto" id = "bhav" src="/images/Bhav.jpg"></div></td>
            <td><div class="profilephoto" id = "mydia" src="/images/Mydia.jpg"></div></td>
          </tr>
          <tr>
            <td><span class = "profile-title"><div>Bhav Jain</div><span class="golden">CHEDAR Co-Lead</span></span></td>
            <td><span class = "profile-title"><div>Mydia Phan</div><span class="golden">AAI Vote Lead</span></span></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="exec-modal" class="modal">
      <div class="modal-content">
        <span id="modal-close" class="close">&times;</span>
        <table class="">
          <tbody>
            <tr>
              <td><span class="modal-title golden"></span></td>
            </tr>
            <tr>
              <td><span class="modal-description purple"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
